<% provide(:title, "Admins_Home") %>
<div class="top">
  <div><%= link_to "管理者ホーム", "#" %></div>
  <div><%= link_to "未読通知が○件あります", "#" %></div>
  <div><%= link_to "シフトカレンダー", "#" %>へ</div>
  <div><%= link_to "管理者一覧", "#" %>へ</div>
  <div><%= link_to "従業員一覧", "#" %>へ</div>
  <div><%= link_to "通知一覧", "#" %>へ</div>
</div>
