<% provide(:title, "アカウント編集") %>
<%= render "employees/shared/error_messages", resource: resource %>
<h2 class="title">アカウント編集</h2>
<div class="text-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field">
      <%= f.label :name, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :email, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :gender, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.radio_button :gender, "男" , autofocus: true %>男
      <%= f.radio_button :gender, "女" , autofocus: true %>女
      <%= f.radio_button :gender, "その他" , autofocus: true %>その他
    </div>
    <div class="field">
      <%= f.label :age, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.number_field :age, min:15 ,autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :address, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.text_field :address, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :phone_number, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.text_field :phone_number, autofocus: true, placeholder: "080-0000-0000" %>
    </div>
    <div class="field">
      <%= f.label :emergency_phone_number, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.text_field :emergency_phone_number, autofocus: true, placeholder: "090-0000-0000"%>
    </div>
    <div class="field">
      <%= f.label "新規パスワード", class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "更新しない場合は空欄" %>
    </div>
    <div class="field">
      <%= f.label "新規パスワード確認", class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "更新しない場合は空欄" %>
    </div>
    <div class="field">
      <%= f.label :current_password, class: "col-form-label col-sm-2 text-center" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "必須入力" %>
    </div>
    <div class="actions container py-3">
      <%= f.submit "編集を保存する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
