<div>
  <p>[従業員名]<br><%= employee.name %></p>
  <p>[メールアドレス]<br><%= employee.email %></p>
  <p>[性別]<br><%= employee.gender %></p>
  <p>[年齢]<br><%= employee.age %></p>
  <p>[住所]<br><%= employee.address %></p>
  <p>[電話番号]<br><%= employee.phone_number %></p>
  <p>[緊急連絡先]<br><%= employee.emergency_phone_number %></p>
</div>