<div class="row pb-5">
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">従業員名</div>
    <div class="col-6 text-start"><%= employee.name %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">メールアドレス</div>
    <div class="col-6 text-start"><%= employee.email %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">性別</div>
    <div class="col-6 text-start"><%= employee.gender %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">年齢</div>
    <div class="col-6 text-start"><%= employee.age %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">住所</div>
    <div class="col-6 text-start"><%= employee.address %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">電話番号</div>
    <div class="col-6 text-start"><%= employee.phone_number %></div>
  </div>
  <div class="container py-3"></div>
  <div class="d-flex col-8 mx-auto">
    <div class="col-6 text-center">緊急連絡先電話番号</div>
    <div class="col-6 text-start"><%= employee.emergency_phone_number %></div>
  </div>
</div>
