<% provide(:title, "shift_apply") %>
<div class="top">
  <h1>シフト申請</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @shift, local: true) do |f| %>
      <%= f.label :start_time, "開始時間" %>
      <%= f.datetime_field :start_time %>
      <%= f.label :end_time, "終了時間" %>
      <%= f.datetime_field :end_time %>
      <%= f.submit "シフトを申請する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>