<% provide(:title, "シフト申請編集") %>
<h2 class="title">シフト申請編集</h2>
<div class="text-center">
  <% @shift.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% if @shift.blank? %>
    <p>該当するシフトは存在しません</p>
  <% else %>
    <%= form_with(model: [:employee, @shift], local: true) do |f| %>
      <%= f.label :start_time,"開始時刻" %>
      <div class="form-inline "> 
        <%= f.datetime_select :start_time, {default: Date.today, minute_step: 15}, class: 'form-control' %>
      </div><br>
      <%= f.label :end_time,"終了時刻" %>
      <div class="form-inline"> 
        <%= f.datetime_select :end_time, {default: Date.today, minute_step: 15}, class: 'form-control' %>
      </div>
      <div class="container py-3">
        <%= f.submit "編集を保存する", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
